<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1005597369496-sprvv9h36dkla0d6cn08t4mc9s3o8g98.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005597369496-sprvv9h36dkla0d6cn08t4mc9s3o8g98</string>
	<key>API_KEY</key>
	<string>AIzaSyCSWuuZylWyowv0MifzvlXrv0-4CxvC9tQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1005597369496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>smirkiiivAndy.musicPlayerDemo</string>
	<key>PROJECT_ID</key>
	<string>musicappdemo-783f0</string>
	<key>STORAGE_BUCKET</key>
	<string>musicappdemo-783f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005597369496:ios:a39901fca7445392885ced</string>
	<key>DATABASE_URL</key>
	<string>https://musicappdemo-783f0.firebaseio.com</string>
</dict>
</plist>